*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.jpg) center/cover, #2d3436;
    width: 100%;
    height: 100vh;
}

.logo,
.navigation,
.content,
.footer {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    grid-template-rows: 25rem 15rem 40rem minmax(min-content, 1fr);
    max-width: 114rem;
    height: 100%;
    margin: 0 auto;
}

.logo {
    margin-top: 5rem;
    grid-row: 1 / 2;

    width: 15rem;
    height: 15rem;
}

svg {
    display: block;
    margin: 0 auto;

    width: 15rem;
    height: 15rem;
}

svg image {
    width: 15rem;
    height: 15rem;
}

.navigation {
    width: 50rem;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid #ededed;

    padding-bottom: 2rem;
}

.list {
    list-style: none;
    
    display: flex;
    justify-content: space-between;

    width: 40rem;
}

.list a {
    text-decoration: none;
    color: #ededed;

    transition: all .2s ease;
}

.list a:hover,
.list a:active {
    color: #999;
}

.item {
    font-size: 2rem;
}

.content {
    text-align: center;

    height: 100%;
    width: 100%;
}

.content__text1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ededed;

    letter-spacing: .5rem;
}

.content__text2 {
    font-size: 3rem;
    font-weight: 300;
    color: #ededed;

    letter-spacing: .3rem;
}

.button {
    background-color: #fff200;

    max-width: 25rem;
    height: 8rem;

    margin: 20rem auto 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.25);

    transition: all .2s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);

    background-color: #ffc400;
}

.button:hover a {
    color: black;
}

.button a {
    text-decoration: none;
    color: #222222;

    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    padding-top: 2.8rem;

    font-size: 2rem;
    font-weight: 600;
}

.footer {
    width: 100%;

    text-align: center;
    font-size: 1.8rem;
    color: #898989;

    align-self: end;

    margin-bottom: 2rem;

    letter-spacing: .5rem;
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 25em) {
    html {
        font-size: 37.5%;
    }
}