/* variables */
$color-white: #fff;
$color-black: #000;

/* mixins */
@mixin respond($bp) {
	@media only screen and (max-width: $bp) {
		@content;
	}
}

/* normalize */
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
    transition: all .3s ease-in-out;
    scroll-behavior: smooth;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Helvetica Neue', 'Zilla Slab', serif;
	background-color: $color-white;
}

/* utility */
.underline {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -2px;
        left: 0;
        background: $color-white;
        visibility: hidden;
        transition: width 0.7s ease-in-out;
    }

    &:hover::after {
        visibility: visible;
        width: 100%;
    }
}

.fixed-nav {
    position: fixed;
}