@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  transition: all .35s ease;
}

*::selection {
  background-color:rgba(160, 174, 192, .5);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #D1CFCD;
}

.page {
  width: 100%;
  min-height: 100vh;
}

.intro-main {
  width: 100%;
  min-height: 100vh;
  background: url("../img/IK_Snohetta-Under_0915-crop.jpg") center/cover;
}

.intro-main--btn:hover .intro-main--arrow {
  transform: translateX(10px);
}

.navbar {
  z-index: 50;
}

.menu-trigger {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.menu-trigger span {
  width: 2.5rem;
  height: .2rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: .25rem;
}

.menu-trigger span:nth-of-type(2) {
  top: .95rem;
}

.menu-trigger span:nth-of-type(3) {
  top: 1.65rem;
}

.menu-trigger.active span:nth-of-type(2) {
  display: none;
}

.menu-trigger.active span:nth-of-type(1) {
  top: .75rem;
  transform: rotate(135deg);
}

.menu-trigger.active span:nth-of-type(3) {
  top: .75rem;
  transform: rotate(-135deg);
}

.backdrop.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #D1CFCD;
  top: 0;
  left: 0;
  z-index: 50;
}

.mobile--list {
  width: 100%;
  height: 100vh;
}

.mobile--list.active {
  display: block !important;
}

.footer--arrow:hover {
  transform: translateY(-5px) scale(1.05);
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.4%;
}

/*  GO FULL WIDTH AT LESS THAN 1000 PIXELS */

@media only screen and (max-width: 1024px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 1024px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

img {
  width: 80%;
}

@media only screen and (max-width: 1024px) {
  img {
    width: 90%;
  }
}