.cart--wrapper {
    max-width: 50rem;
    height: 100vh;
    background-color: $color-primary;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    padding: 5rem;
    cursor: default;
    transform: translateX(100rem);
    z-index: -1;
    transition: all .2s;
}

.first-line {
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between;

    h6 {
        font-size: 1.8rem;
        font-weight: 300;
    }

    label {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: .2rem;
        cursor: pointer;
    }
}

.cart {
    &--list {
        height: calc(100vh - 28rem);
        padding: 1rem;
    }
}

.subtotal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;

    p {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }

    small {
        font-size: 1.6rem;
    }
}

.checkout {
    background-color: #00255e;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 2rem 2rem;

    a {
        color: $color-primary;
        text-decoration: none;
        padding: 2rem;
        font-size: 1.6rem;

        @include respond(400px) {
            font-size: 1.2rem;
        }
    }
}

.note {
    text-align: center;
}