.slideshow-container {
    max-width: 100%;
    height: 72rem;
    background: url("../img/photo-2.jpg") center/cover;
    position: relative;
}

.caption {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    padding: 3rem 4rem 4rem 4rem;
    background-color: $color-primary;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    &--title {
        font-size: 5rem;
        margin-bottom: 1rem;
        font-weight: 400;
        color: $color-secondary;
    }

    &--text {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        color: $color-secondary;
    }

    &--link {
        font-size: 1.2rem;
        color: $color-secondary;
        letter-spacing: .2rem;
    }

    @include respond(600px) {
        top: 90%;
        left: 0;
        max-width: 100%;
    }
}

.dots {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            width: 1%;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    @include respond(600px) {
        bottom: 33%;
    }

    @include respond(350px) {
        bottom: 40%;
    }
}

.dot {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba($color-primary, .5);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}

.dot-active {
    background-color: $color-primary;
}

