@mixin hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}

@mixin show($display) {
    display: $display;
    opacity: 1;
    visibility: visible;
}

@mixin respond($bp) {
    @media only screen and (max-width: $bp) {
        @content;
    }
}

*,
*::after,
*::before {
        padding: 0;
        margin: 0;
        box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(500px) {
        font-size: 50%;
    }
}

body {
    font-family: "Zilla Slab", serif;
}