.site--footer {
  width: 100%;
  height: 60vh;
  background-color: #6c674d;
  margin-top: 10rem;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(13, minmax(5rem, 1fr));

  #firstList {
    grid-column: 8 / 10;
  }  

  #secondList {
    grid-column: 10 / 12;
  }

  #thirdList {
    grid-column: 12 / -1;
  }

  @include respond(768px) {
    grid-template-columns: 100%;

    #firstList,
    #secondList,
    #thirdList {
      grid-column: 1 / -1;
      grid-row: 2 / 2;
      width: 33.333%;
    }

    #secondList {
      margin-left: 33.3333%;
    }

    #thirdList {
      margin-left: 66.66666%;
    }
  }
}

.footer {
  &--msg {
    font-size: 4.2vw;
    color: $color-text--light;

    grid-column: 1 / 6;
    margin-top: 15%;

    @include respond(768px) {
      grid-column: 1 / -1;
      margin-top: 5%;
    }
  }

  &--list {
    list-style: none;
    margin-top: 15%;

    @include respond(768px) {
      margin-top: 5%;
    }
  }

  &--group {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color : $color-text--light;
    margin-bottom: 4rem;
  }

  &--item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    a {
      color : $color-text--light;
      text-decoration: none;
      font-size: 1.4rem;

      &:hover {
        color: rgba($color-text--light, .5);
      }
    }
  }

  &--copyright {
    grid-column: 8 / 11;
    display: flex;
    list-style: none;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-right: 2rem;
      }

      a {
        text-decoration: none;
        font-size: 1.2rem;
        color: $color-text--dark;

        &:hover {
          color: $color-text--light;
        }
      }
    }

    @include respond(768px) {
      grid-column: 1 / -1;
      margin-top: 5%;
    }
  }
}