main {
    margin-bottom: 3rem;
}

.signup-page {
    padding-top: 1rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

.signup-form {
    padding: 1rem;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 0.5rem;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    width: 100%;
    align-self: center;
    font-weight: 700;
}

.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"]+label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.signup-form input[type="checkbox"]:checked {
    background: #2ddf5c;
    border: #0e4f1f;
}

.signup-form input:not([type="checkbox"]),
.signup-form select:not([type="checkbox"]) {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:not([type="checkbox"]):focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form button[type="submit"] {
    display: block;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
    border-color: red !important;
    background: #faacac;
}

.signup-form button[type="submit"]:disabled {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #a1a1a1;
}

@media (min-width: 45rem) {
    .signup-form {
        margin: auto;
        width: 35rem;
        grid-template-columns: 10rem auto;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;
    }

    .signup-form label[for="title"],
    .signup-form select[id="title"] {
        grid-column: span 2;
    }

    .signup-form__checkbox {
        grid-column: span 2;
    }
}